---
import './style.css';

const { customLiClass,customUlClass,menuData } = Astro.props;
function toCamelCase(str) {
  const words = str.split(/[-_]+/);
  const capitalizedWords = words.map(word => word.charAt(0).toUpperCase() + word.slice(1));
  return capitalizedWords.join(' ');
}
function flattenMenu(menuData, level = 0) {
  const flattenedMenu = [];
  function flatten(menuItems, parentLevel) {
    menuItems.forEach((menuItem) => {
      menuItem.level = parentLevel + 1;
      flattenedMenu.push(menuItem);
      if (menuItem.submenus && menuItem.submenus.length > 0) {
        flatten(menuItem.submenus, menuItem.level);
      }
    });
  }
  flatten(menuData, level);
  return flattenedMenu;
}
--- 

<aside class="theme-doc-sidebar-container">
  <div class="sidebarViewport_K3q9">
    <div class="sidebar_vtcw sidebarWithHideableNavbar_tZ9s">
      <nav aria-label="Docs sidebar" class="menu thin-scrollbar menu_rWGR menuWithAnnouncementBar_Pf08">
        <ul class={customUlClass || "theme-doc-sidebar-menu menu__list"}>
          {flattenMenu(menuData).map((menuItem) => (
            <li
              class={`${customLiClass || "theme-doc-sidebar-item-link"} level-${menuItem.level} ${menuItem.submenus ? 'menu__list-item-collapsible' : ''}`}
              key={menuItem.label}
              style={customLiClass ? {} : { marginLeft: `${menuItem.level * 20}px` }}
            >
              {menuItem.submenus && menuItem.submenus.length > 0 ? (
                <div class="menu__list-item-collapsible">
                  <a class="menu__link menu__link--sublist" aria-expanded="false" href={menuItem.url}>{toCamelCase(menuItem.label)}</a>
                  <button aria-label="Expand sidebar category" type="button" class="clean-btn menu__caret"></button>
                </div>
              ) : (
                <a class="menu__link" href={menuItem.url}>
                  {toCamelCase(menuItem.label)}
                </a>
              )}
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </div>
</aside>







